<div class="hero-section">
    <img src="https://static.wixstatic.com/media/9c2320_99aa18a784114c9eae940bfed8e85f75~mv2.jpg/v1/fill/w_400,h_400,al_c,q_80,usm_0.66_1.00_0.01/Little%2520Iceberg%2520Lettuce_edited.webp" alt="">
    <h1>
        Artificial Seed Enhancement
    </h1>
</div>

<div class="info-section">
    <p>
        For millennia, we have been under the whims of nature. Famines, storms and crop disease have caused catastrophic suffering to humankind. After half a decade of research and genomic experimentation, CSP proudly presents the future of planetary flora. Enriched with synthetic proteins, Bionic Substitute Seeds™ (BSS) grow anywhere without any maintenance. Although only a limited range of plant species have been replicated, CSP's Terraforming and Uplifting team have perfected the art of producing the highest yield with BSS.</p>

    <p>
        Project Lead, Dr. M. I. Nezu, sheds light on CSP's path to this great achievement, "Our team worked tirelessly for six years on studying and changing the genetic structure of various plant seeds. We first found success with:
    </p>
    <ul>
        <li><a href="https://en.wikipedia.org/wiki/Oak" target="_blank">Oaks</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Cactus" target="_blank">Cacti</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Pine" target="_blank">Pines</a></li>
        <li><a href="https://en.wikipedia.org/wiki/Theobroma_cacao" target="_blank">Cacao</a></li>
    </ul>

    <p>These <strong>four plant families</strong> are extremely important to our research. CSP is excited to create perfect replications of all plants on Earth (and perhaps beyond)."</p>
</div>


<div class="info-2-section">
    <h4>Bionic Substitute Seeds have:</h4>
    <ul>
        <li>Post-Hydroponic Compatability</li>
        <li>24x7 Remote Monitoring and Analytics Services</li>
        <li>Full Cryogenic Adaptability</li>
        <li>Instant Genetic and Design Customisation Options</li>
        <li>Potentially Dire Side Effects</li>
    </ul>
</div>