<main>
    <h1>The Silvan Vale Expedition</h1>
    <p>Authored by CSP Survey Team #76</p>

    <!-- <img src="" alt=""> -->
    <!-- show the logo which is shown on the wix website. -->


    <p>Location: The Silvan Vale - 35.16N, 89.37E</p>
    <p>Satellite data indicates that the Silvan Vale is rich in Element X. Further drone examination has shown the existence of a lush forest located in the foothills of the Flatpeak mountain range with a passing stream known as the Cascade. Large rock formations connecting to the Flatpeaks suggest a cave system hidden near or below the forest. A thorough investigation of the Silvan Vale and extraction of as much Element X from the area has been assigned to the CSP Survey Team #76. </p>

    <div class="research-carousel">


        <button class="research-carousel__leftBtn" (click)="prevResearch()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>

        <div class="research-carousel__research">
            
            <div class="research-carousel__research__OC">
                
                <div #ResearchCarousel class="research-carousel__research__OC__container">
    
    
                    <div class="research-carousel__research__OC__container-container__item">
                        <p>Research 1</p>
                    </div>
    
                    <div class="research-carousel__research__OC__container-container__item">
                        <p>Research 2</p>
                    </div>
    
                    <div class="research-carousel__research__OC__container-container__item">
                        <p>Research 3</p>
                    </div>
    
                    <div class="research-carousel__research__OC__container-container__item">
                        <p>Research 4</p>
                    </div>
    
                    <div class="research-carousel__research__OC__container-container__item">
                        <p>Research 5</p>
                    </div>
    
                    <div class="research-carousel__research__OC__container-container__item">
                        <p>Research 6</p>
                    </div>
    
    
                </div>
            </div>
            
        </div>

        <button class="research-carousel__rightBtn" (click)="nextResearch()">
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>

        <div class="research-carousel__direct-buttons">
            <p>PLACE HOLDER FOR NOW (DESIGN INCOMPELTE)</p>
        </div>

    </div>

</main>
