<main>
    <h1>The Silvan Vale Expedition</h1>
    <p class="main-desc">Authored by CSP Survey Team #76</p>

    <!-- <img src="" alt=""> -->
    <!-- show the logo which is shown on the wix website. -->


    <p class="main-desc">Location: The Silvan Vale - 35.16N, 89.37E</p>
    <p class="main-desc">Satellite data indicates that the Silvan Vale is rich in Element X. Further drone examination has shown the existence of a lush forest located in the foothills of the Flatpeak mountain range with a passing stream known as the Cascade. Large rock formations connecting to the Flatpeaks suggest a cave system hidden near or below the forest. A thorough investigation of the Silvan Vale and extraction of as much Element X from the area has been assigned to the CSP Survey Team #76. </p>

    <div class="research-carousel">


        <button class="research-carousel__leftBtn" (click)="prevResearch()">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>

        <div class="research-carousel__research">
            
            <div class="research-carousel__research__OC">
                
                <div #ResearchCarousel class="research-carousel__research__OC__container">
    
    
                    <div class="research-carousel__research__OC__container-container__item">
                        <h3>Survey Team #76 Report 1</h3>
                        <p>26th August</p>
                        <p>All personnel of Survey Team #76 arrived in the Silvan Vale and a suitable spot away from the lush forested region has been identified. This area is near the initial readings for Element X and the construction of Burrow 76 has begun.</p>

                        <p>The forest contains a variety of trees, such as willow, maple and oak - species which can commonly be found in temperate climates. The <span class="underline">trees</span> seem ordinary and healthy from afar, no irregular effects caused by Element X are visible at this point. Trees of the Silvan Vale will be inspected further, once the Burrow’s construction is completed.</p>

                    </div>
    
                    <div class="research-carousel__research__OC__container-container__item">
                       <h3>Survey Team #76 Report 2</h3>
                       <p>29th August</p>
                       <p>The construction of Burrow 76 has been successfully completed. All tools, equipment and gear have been stocked and set up in the Burrow. </p>

                       <p>
                        In the meantime, a part of the survey team has been exploring the Silvan Vale. Mixed reports regarding the forest have been given by the explorers - while some areas have been described as warm and even hospitable, others have been claimed to be hostile. Survey team explorers say that the trees in these areas seem to be “alive” and have a presence about them. 
                       </p>


                       <p>
                        A closer examination of the <span class="underline">trees</span> has yielded some interesting results - a giant oak tree stands at one end of the Vale. While no proper measurements have been taken, we believe that this oak might be the biggest one on the planet. Whether or not the trees of this forest are being affected by Element X in some form is still inconclusive.
                       </p>
                    </div>
    
                    <div class="research-carousel__research__OC__container-container__item">
                        <h3>Survey Team #76 Report 3</h3>
                        <p>
                            31st August
                        </p>

                        <p>
                            The Cascade is a river which flows from the nearby “Flatpeak” mountain range, crossing the Silvan Vale in the form of a small waterfall and stream. The <span class="underline">water</span>  of the Cascade has been tested for containing Element X, but has shown no traces of it. It is pristine and has sparse aquatic fauna and flora. 
                        </p>

                        <p>
                            The river forms a small pond at the base of its waterfall. It appears that a portion of the water goes underground from there, indicating that a cave network exists beneath the Silvan Vale. This corresponds to our detection of Element X beneath the forest.
                        </p>
                    </div>
    
                    <div class="research-carousel__research__OC__container-container__item">
                        <h3>Survey Team #76 Report 4</h3>

                        <p>3rd September</p>

                        <p>The Mining Team successfully forced open a crevice in a rock wall to create an entrance to a deep cave network beneath the Silvan Vale. Readings confirm the existence of a large and singular source of Element X within these caves. Apart from lighting, the cave is almost fully ready for exploration. It seems like we have unsealed a long-lost path hidden under the forest. </p>

                        <p>The cave is rich with Element X and other rare minerals. However, exposure to sunlight may cause unpredictable reactions in the more volatile elements in the cave. Further <span class="underline">mining</span>  and exploration will proceed with extreme caution.</p>
                    </div>
    
                    <div class="research-carousel__research__OC__container-container__item">
                        <h3>Survey Team #76 Report 5</h3>

                        <p>5th September</p>

                        <p>The cave found in the Vale was observed to be surrounded by a large number of mushrooms. Upon further exploration, the cave was found to contain similar mushrooms, increasing in size deeper inside. The height range of the fungi was measured to be from one inch big (outside the cave) to nearly two feet. Their size and quantity is directly proportional to the amounts of Element X found in the cave. The <span class="underline">fungi</span>  were growing from the ground, walls and ceiling of the cave.</p>

                        <p>No flora or fauna could be found in the cave, as there is no source of sunlight inside. Some fungal structures have been extracted, along with the main objective of Element X, to be studied later.</p>

                    </div>
    
                    <div class="research-carousel__research__OC__container-container__item">
                        <h3>Survey Team #76 Report 6
                        </h3>

                        <p>6th September</p>

                        <p>Extensive <span class="underline"> mining</span> operations have been put in place to extract Element X from the Silvan Vale’s cave. In addition to drilling, the use of explosives has helped in displacing the cave’s structures. Aggressive mining has raised some safety concerns among the team, but the prospect of obtaining large quantities of rare minerals is too great. The cave network beneath the forest has been explored and mined almost entirely. </p>

                        <p>Survey Team #76 has been recalled by the CSP headquarters after its successful mining expedition in the Silvan Vale. The entrance to the mine will be sealed to secure our findings.</p>
                    </div>
    
    
                </div>
            </div>
            
        </div>

        <button class="research-carousel__rightBtn" (click)="nextResearch()">
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>

        <div class="research-carousel__direct-buttons">

            <button *ngFor="let idx of createRange( ); let index = index" class="research-carousel__direct-buttons__btn-item" (click)="directNavigate(index)">
                <div [ngClass]="index == curResearch ? 'btn-round btn-round-active': 'btn-round' ">
                </div>
            </button>
        </div>

    </div>

</main>
