button{
    border: none;
    background: none;
}

.underline{
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    h1{
        font-size: 6rem;
    }

    .main-desc{
        text-align: center;
        margin: 2rem 4rem;
        font-size: 1.5rem;
        font-weight: lighter;
    }
}

.research-carousel{
    
    display: grid;
    grid:
    'leftBtn research research research research rightBtn'
    'directBtn directBtn directBtn directBtn directBtn directBtn';

    margin-top: 4rem;
    margin-bottom: 0.5rem;
    margin-left: 2rem;
    margin-right: 2rem;


    &__research{
        grid-area: research ;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;


        &__OC{
            width: 70rem;
            height: 100%;
            overflow: hidden;

            &__container{
                display: flex;
                flex-direction: row;

                // have to set this below width using javascript since its supposed to be dynamic
                // width: 360rem; 
                transition: transform 1s ease-in-out;

                &-container__item{
                    width: 70rem;
                    text-align: start;

                    h3{
                        font-size: 3rem;
                    }

                    p{
                        text-align: start;
                        font-size: 1.5rem;
                        font-weight: lighter;
                        margin-top: 4rem;
                    }
                }

            }
        }
    }


    // Styling the buttons on both sides
    &__leftBtn{
        grid-area: leftBtn ;
        color: #a1ef8c;
        font-size: 3rem;
        font-weight: lighter;

        margin-left: 1rem;
        margin-right: 4rem;

        &:hover{
            cursor: pointer;
            opacity: 0.8;

        }
    }

    &__rightBtn{
        grid-area: rightBtn ;
        color: #a1ef8c;
        font-size: 3rem;
        font-weight: lighter;
        
        
        margin-left: 4rem;
        margin-right: 1rem;

        &:hover{
            cursor: pointer;
            opacity: 0.8;
        }
    }


    &__direct-buttons{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 0.1rem;
        grid-area: directBtn;

        &__btn-item{
        color: #a1ef8c;
        }
    }
}


// decorating the buttons
.btn-round{
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #a1ef8c;
    margin: 0rem 1rem;
    border: 3px transparent solid;

    transition: border 0.2s ease-in-out, background-color 0.2s ease-in-out;
    
    &:hover{
        cursor: pointer;
        opacity: 0.8;
    }

    &-active{
        background-color: transparent; 
        border: 3px #a1ef8c solid;
    }

}

