<main>
    <h1>The Silvan Vale Expedition</h1>
    <p>Authored by CSP Survey Team #76</p>

    <!-- <img src="" alt=""> -->
    <!-- show the logo which is shown on the wix website. -->


    <p>Location: The Silvan Vale - 35.16N, 89.37E</p>
    <p>Satellite data indicates that the Silvan Vale is rich in Element X. Further drone examination has shown the existence of a lush forest located in the foothills of the Flatpeak mountain range with a passing stream known as the Cascade. Large rock formations connecting to the Flatpeaks suggest a cave system hidden near or below the forest. A thorough investigation of the Silvan Vale and extraction of as much Element X from the area has been assigned to the CSP Survey Team #76. </p>

    <div class="research-carousel">
        

        <button class="research-carousel__leftBtn">
            <fa-icon [icon]="faChevronLeft"></fa-icon>
        </button>

        <div class="research-carousel__research">
            <div class="research-carousel__research_container">

                <div class="research-carousel__research_container__item">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione pariatur itaque saepe aliquid ex? Commodi!</p>
                </div>

                <div class="research-carousel__research_container__item">
                    <p>Lorem ipsum dolor sit.</p>
                </div>

                <div class="research-carousel__research_container__item">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus illo assumenda recusandae eos libero voluptates possimus ex omnis dolore alias?</p>
                </div>

                <div class="research-carousel__research_container__item">
                    <p>Lorem, ipsum.</p>
                </div>

                <div class="research-carousel__research_container__item">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente perspiciatis quisquam reiciendis, aliquam nobis dolor animi earum. Sed minima, incidunt illo aspernatur, ea perspiciatis doloremque non nisi corrupti quaerat, sint nemo laudantium quam reprehenderit accusamus voluptatibus voluptatum maiores numquam deleniti obcaecati saepe. Harum magni aliquam enim rerum mollitia, ipsa vitae.</p>
                </div>

                <div class="research-carousel__research_container__item">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati esse doloremque laborum libero ipsa ab aliquam sunt error quisquam. Blanditiis animi culpa harum adipisci maiores temporibus dolore id vel fugit molestias at voluptates voluptas, accusantium eum maxime, ad pariatur et similique ducimus eaque eveniet molestiae laborum, esse nesciunt! Tenetur aut dolorem placeat labore? Maiores nobis suscipit doloremque laborum corporis perferendis recusandae optio eveniet vel, tempore qui minus illum at maxime, repudiandae non! Iure quae praesentium voluptas ea autem aspernatur nisi possimus inventore, nemo culpa dolorum dolores labore nobis? Optio excepturi fuga vel quo fugiat nemo qui libero ea aut molestiae.</p>
                </div>
            </div>
        </div>

        <button class="research-carousel__rightBtn">
            <fa-icon [icon]="faChevronRight"></fa-icon>
        </button>

        <div class="research-carousel__direct-buttons">
            <p>PLACE HOLDER FOR NOW (DESIGN INCOMPELTE)</p>
        </div>

    </div>

</main>
