<div class="hero-section">

    <h1>Conqueror</h1>
    <h1>Space Program</h1>
    <h4>We have outgrown our planet.</h4>
    <h4>It is time to forge a new destinty.</h4>
</div>

<div class="moon-img">
    <!-- image link -->
    <!-- https://static.wixstatic.com/media/11062b_e88e9e72f96542ae8195129596892120~mv2_d_5472_3648_s_4_2.jpg/v1/fill/w_980,h_657,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/11062b_e88e9e72f96542ae8195129596892120~mv2_d_5472_3648_s_4_2.webp -->
</div>


<main>
    <div class="project-hero">
        <h2>Our Projects</h2>
        <p>Taming the Universe, one planet at a time.</p>
    </div>

    <div class="project-section">
    
        <!-- first item -->
        <div class="project-item">
    
            <a routerLink="/conqueror-space/the-advanced-robotics-generation">
                <div class="hover-component">
                    <img src="https://static.wixstatic.com/media/9c2320_04305d08b4a2470e839dd0498f794bb2~mv2.jpg/v1/fill/w_300,h_300,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/9c2320_04305d08b4a2470e839dd0498f794bb2~mv2.webp" alt="">
        
                    <div class="hover-text">
                        <p>Read More</p>
                    </div>
                </div>
            </a>
            
            <h2>The Advanced Robotics Generation</h2>
            <p>CSP's latest rover is capable of functioning anywhere - from the most frigid exoplanets to the deepest depths of any planetary ocean. With a soil analysis accuracy of 99.98%, we have no reason to doubt this mighty little machine.</p>
        </div>
    
    
        <div class="project-item">
    
            <a routerLink="/conqueror-space/artificial-seed-enhancement">
                <div class="hover-component">
                    <img src="https://static.wixstatic.com/media/9c2320_99aa18a784114c9eae940bfed8e85f75~mv2.jpg/v1/fill/w_300,h_300,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/9c2320_99aa18a784114c9eae940bfed8e85f75~mv2.webp" alt="">
        
                    <div class="hover-text">
                        <p>Read More</p>
                    </div>
                </div>
            </a>
    
    
            <h2>Artificial Seed Enhancement</h2>
            <p>CSP's Terraforming & Uplifting Division has made a breakthrough for the preservation of plant matter after extensive genetic engineering. The biological unpredictability of organic plant matter will be a thing of the past.</p>
        </div>
    
    
        <div class="project-item">
    
            <a routerLink="/conqueror-space/agi-4">
                <div class="hover-component">
                    <img src="https://static.wixstatic.com/media/9c2320_24106cc412a543f59b5fe366ebb87a8f~mv2.jpg/v1/fill/w_300,h_300,fp_0.50_0.50,q_80,usm_0.66_1.00_0.01/9c2320_24106cc412a543f59b5fe366ebb87a8f~mv2.webp" alt="">
                    <div class="hover-text">
                        <p>Read More</p>
                    </div>
                </div>
            </a>
    
    
            <h2>A Subsitute for Earth?</h2>
            <p>Planet BYCI-4 has shown great promise for habitability with our initial investigation. A deeper probe will take place with the Conqueror 2 expedition.</p>
        </div>
    </div>
</main>


