<div class="hero-section">
    <img src="https://static.wixstatic.com/media/9c2320_24106cc412a543f59b5fe366ebb87a8f~mv2.jpg/v1/fill/w_400,h_400,al_c,q_80,usm_0.66_1.00_0.01/pia21751_edited_edited.webp" alt="">
    <h1>
        BYCI-4
    </h1>
    <p>Conqueror 1 had explored the ends of systems previously unknown by humans.
        Now Conqueror 2 sets its sights even further beyond.</p>
</div>

<div class="info-section">
    <p>
        As resources on planet Earth run low, our everlasting mission to find more has brought us to the star system known as BYCI. At its core is a G type star, nearly identical to the <a routerLink="/conqueror-space/the-sun">Sun</a>, after which the system has been named. Five endoplanets revolve around BYCI, two of which fall under the habitable <a href="https://en.wikipedia.org/wiki/Circumstellar_habitable_zone" target="_blank">Goldilocks zone</a>. Upon further observation by the space exploration teams at Conqueror, BYCI-4 was found to possess integral traits to support life -</p>
    <ul>
        <li>the perfect <strong>temperature</strong>,</li>    
        <li>an abundance of liquid <strong>water</strong>,</li>    
        <li>and the existence a protective <strong>atmosphere.</strong></li>    
    </ul>

    <p>At CSP, we have been excited to explore the BYCI star system, with a special interest in Planet BYCI-4. Our teams have been working overtime on preparing the Conqueror 2 unmanned mission, which will include the CM-1X, our latest surface rover from the <a routerLink="/conqueror-space/the-advanced-robotics-generation">Advanced Robotics Generation.</a> </p>

    <p>CSP's Conqueror 2 is set to launch in exactly <strong>3 days</strong> from the day this article was published.</p>
</div>
