<div class="hero-section">
    <img src="https://static.wixstatic.com/media/9c2320_f279da2e654741b4a3ac2971ccd2fd9c~mv2.jpg/v1/fill/w_400,h_400,al_c,q_80,usm_0.66_1.00_0.01/Mighty%25252520Mouse%2525252C%25252520a%25252520Robotic%25252520Vehicle%25252520Range%25252520(RVR)%25252520at%2525252.webp" alt="">

    <h1>The Advanced Robotics Generation</h1>
    <p>CSP's latest rover is capable of functioning anywhere - from the most frigid exoplanets to the deepest depths of any planetary ocean. With a soil analysis accuracy of 99.9998%, we have no reason to doubt this mighty machine.</p>

</div>

<div class="info-section">
    <h3>Stay Tuned</h3>
    <p>We at CSP are hard at work preparing CM-1X, a rover capable of functioning and accurately reporting back from almost anywhere in the Universe. Further information will be released soon.</p>
</div>