<main>
    <img src="https://static.wixstatic.com/media/37918afd5cd7785e323e2c81b9a501d6.jpg/v1/fill/w_980,h_560,fp_0.50_0.50,q_85,usm_0.66_1.00_0.01/37918afd5cd7785e323e2c81b9a501d6.webp" alt="">

    <div class="info-content">
        <h1>The Sun</h1>
        <p>The source of our planet's heat and life, the Sun, has been in a state of rapid decay. This alarming news was uncovered by CSP, after are solar probe S - S041 reached farther than any other human project in an attempt to better understand how stars were capable of generating near-infinite amounts of energy. An official statement regarding the data obtained by our probe is due to be released soon.</p>
    </div>
</main>
